.container {
	width: 95vw;
	margin: 0 auto;
	//background-color: lightblue;
}

.graphBackground{
	background-image: url('../../Images/gridBackground.png');
	background-repeat: repeat;
	//background-color: aquamarine;
}
