.metadata {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #f5f5f5;
    grid-column: 1 / -1;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

.metadata:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}