@font-face {
	font-family: Greycliff;
	src: url("../../Fonts/Greycliff-CF-Regular.otf");
}

.metadata {
	background-color: white;
	padding: 10px;
	text-align: center;
	border: 1px solid #f5f5f5;
	grid-column: 1 / -1;
	border-top-right-radius: 11px;
	border-top-left-radius: 11px;
	font-family: Greycliff;
}

.metadataInfo {
	font-size: 16px;
	padding: 5px;
}

.metadataHeader {
	font-size: 30px;
	grid-column: 1 / -1;
	padding: 10px;
}
