@font-face {
	font-family: Greycliff;
	src: url("../../Fonts/Greycliff-CF-Regular.otf");
}

.metadata {
	text-align: left;
	border: 1px solid #f5f5f5;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
	font-family: Greycliff;
	margin: 1px auto;
}

.metadataInfo {
	font-size: 10px;
	padding: 5px;
}

.metadataHeader {
	font-size: 16px;
	padding: 5px;
}

.metadataGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
