.gridItem {
	background-color: white;
	padding: 5px;
	font-size: 30px;
	text-align: center;
	//border: 1px solid #f5f5f5;
	width: 1650px; // Changes the width on the screen
	overflow-x: scroll; // Set overflow here
}

.gridItem:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
